
{{ set_assets('applications/Ebooks/Addons/Freebook/assets/css/style.css') }}
{{ set_assets('applications/Ebooks/Addons/Freebook/assets/js/script.js') }}

<div class="span12">

    <div id="freeCarousel" class="carousel slide">

        <ol class="carousel-indicators">
            {% if free_ebooks|length > 0 %}
                {% set free_ebook_key = 0 %}
                {% for key,item in free_ebooks %}
                    {% if (key+1)%2  %}
                        <li data-target="#freeCarousel" data-slide-to="{{ free_ebook_key }}" {% if not key %}class="active"{% endif %}>
                            {% set free_ebook_key = free_ebook_key + 1 %}
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ol>

        <!-- Carousel items -->
        <div class="component-ebooks">
            <div class="carousel-inner">

                <div class="item active">

                    {% if free_ebooks|length > 0 %}
                        {% for key,ebook in free_ebooks %}

                            {% set div_row_begin = '<div class="item">' %}
                            {% set div_row_end = '</div>' %}


                            {% set download_url = generate_url('ebooks.ebooks.detail.download', {'id': ebook.id}) %}
                            {% set ebook_url =  generate_url('ebooks.ebooks.detail', {'id': ebook.id}) %}
                            {% set category_url =  generate_url('ebooks.categories.detail', {'id': ebook.category_id}) %}


                            <div class="row-fluid-item">

                                <div class="component-ebook">

                                    <table>
                                        <tr>
                                            <td valign="top">
                                                <label class="label {% if ebook.is_free %}label-default{% else %} label-primary {% endif %}">
                                                    {% if ebook.is_free %} Free{% else %} Premium {% endif %}
                                                </label>

                                                <a href="{{ ebook_url }}" title="{{ ebook.title }}">
                                                    <img src="{{ resized_image(ebook.image_file, 70, null, 'fit') }}" alt="{{ ebook.title }}" title="{{ ebook.title }}"/>
                                                </a>
                                            </td>
                                            <td valign="top">
                                                <h4>
                                                    <a href="{{ ebook_url }}" title= "{{ ebook.title }}">
                                                        {{ ebook.title|truncate(25)|raw }}
                                                    </a>
                                                </h4>

                                                <p>
                                                    {{ ebook.description|striptags|truncate(80)|raw }}
                                                </p>

                                                <b>In:</b>
                                                <a href="{{ category_url }}" title=" {{ ebook.category_id_join }}">
                                                    {{ ebook.category_id_join|truncate(20) }}
                                                </a>
                                                <br>

                                                <a class="btn btn-success btn-xs btn-flat" href="{{ download_url }}" title="Download {{ ebook.file_title }}">Download</a>
                                                <a class="btn btn-primary btn-xs btn-flat" href="{{ ebook_url }}" title="View {{ ebook.file_title }}">Preview</a>
                                                <div class="clearfix"></div>
                                            </td>
                                        </tr>
                                    </table>    
                                </div>
                            </div>

                            {% if key%2  %}
                                {% if key+1 != free_ebooks|length   %}
                                    {{ div_row_end|raw }}
                                    {{ div_row_begin|raw }}
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                    {% endif %}

                </div><!--/item-->

            </div><!--/carousel-inner-->
        </div><!--/carousel-inner-->
        <br>
    </div><!--/myCarousel-->

</div>