{# empty Twig template #}
{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Ebooks/assets/css/ebook.css') }}
{{ set_assets('applications/Ebooks/assets/js/ebook.js') }}

<h1 class="component-header">{{ item.title }}</h1>

<div class="ebook-posted-date">
    <i class="fa fa-clock-o"></i> Posted:  {{ item.date_created|date('d M Y H:i') }} &nbsp;&nbsp;
</div>

<div class="ebook-viewport">
    {% set ebook_dowload_url =  generate_url('ebooks.ebooks.download', {'id': item.id}) %}
    {% set ebook_preview_url =  generate_url('ebooks.ebooks.detail', {'id': item.id, 'view':'preview'}) %}
    {% set category_url =  generate_url('ebooks.categories.detail', {'id': item.category_id}) %}

    <div class="col-sm-6">
        <img src="{{ resized_image(item.image_file,400,null,'fit') }}" alt="{{ ebook.title }}" title="{{ ebook.title }}"/>
        <br>
        <br>
        <a class="btn btn-success btn-sm btn-flat" href="{{ ebook_preview_url }}" title="Download Ebooks"> Preview This Ebook</a>
        <a class="btn btn-primary btn-sm btn-flat" href="{{ ebook_dowload_url }}" title="Download Ebooks">Download</a>

    </div>
    <div class="col-sm-6">

        <div class="headline">
            <h3>Content</h3>
        </div>

        {{ item.description|raw }}

        <br>
        <a class="btn btn-success btn-sm btn-flat" href="{{ ebook_preview_url }}" title="Download Ebooks"> Preview This Ebook</a>
        <a class="btn btn-primary btn-sm btn-flat" href="{{ ebook_dowload_url }}" title="Download Ebooks">Download</a>

        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<div> 
    <div class="clearfix"></div>
    <br>
    <br>
    <div class="well well-sm">Related Ebook</div>
    {% include "ebook.related.twig" ignore missing with {'ebook_id': item.id}  %}
</div> 
