{# empty Twig template #}

{{ set_assets('applications/Ebooks/assets/css/ebook.css') }}

{% set item_url = generate_url('ebooks.ebooks.detail', {'id':items.0.id})  %}

<h1 class="component-header"> Ebooks</h1>

<form id="{{ main_form_id }}" action="{{ generate_url('subscriptions.subscriptions') }}" method="post" >

    <div class="component-ebooks">

        {% if items|length > 0 %}

            {% for key,ebook in items%}

                {% set download_url = generate_url('ebooks.ebooks.detail.download', {'id': ebook.id}) %}
                {% set ebook_url =  generate_url('ebooks.ebooks.detail', {'id': ebook.id}) %}
                {% set category_url =  generate_url('ebooks.categories.detail', {'id': ebook.category_id}) %}

                <div class="col-sm-4">
                    <div class="component-ebook">

                        <h4>
                            <a href="{{ ebook_url }}" title= "{{ ebook.title }}">
                                {{ ebook.title }}
                            </a>
                        </h4>

                        <div class="img-wrapper">
                            <a href="{{ ebook_url }}" title="{{ ebook.title }}">
                                <img src="{{ resized_image(ebook.image_file, 400, null, 'fit') }}" alt="{{ ebook.title }}" title="{{ ebook.title }}"/>
                            </a>
                        </div>
                        <br>

                        <b>Category:</b>
                        <a href="{{ category_url }}" title=" {{ ebook.category_id_join }}">
                            {{ ebook.category_id_join }}
                        </a>
                        <br>
                        <a class="btn btn-success btn-xs btn-flat" href="{{ download_url }}" title="Download {{ ebook.file_title }}">Download</a>
                        <a class="btn btn-primary btn-xs btn-flat" href="{{ ebook_url }}" title="View {{ ebook.file_title }}">Preview</a>
                        <div class="clearfix"></div>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            No Products
        {% endif %}

    </div>

    {{ forms.input('_token' ) }}

</form>


<div class="clearfix"></div>

{% include "items.pagination.twig"%}