{# empty Twig template #}

{% set params = { 'ebook_id': ebook_id } %}

{% set related_ebooks = callFunction( "Ebook.Components.Ebook.Models.EbookModel", 'getRelatedEbook', params ) %}

<div class="component-ebooks">

    {% if related_ebooks|length > 0 %}
        {% for key,ebook in related_ebooks %}

            {% set download_url = friendly_url('app=ebook&com=ebook&subset=ebook&view=detail&task=download&controller=EbookController&id=' ~ ebook.id) %}
            {% set ebook_url =  friendly_url('app=ebook&com=ebook&subset=ebook&view=detail&id=' ~ ebook.id) %}
            {% set category_url =  friendly_url('app=ebook&com=category&subset=category&view=detail&id=' ~ ebook.category_id) %}

            <div class="col-sm-4">
                <div class="component-ebook">
                    <h4>
                        <a href="{{ ebook_url }}">
                            {{ ebook.title }}
                        </a>
                    </h4>

                    <a href="{{ ebook_url }}" title="{{ ebook.title }}">
                        <img src="{{ resized_image(ebook.image_file,300,300) }}" title="{{ ebook.title }}" alt="{{ ebook.title }}"/>
                    </a>
                    <br>

                    <b>Category:</b>
                    <a href="{{ category_url }}" title="{{ ebook.category_id_join }}">
                        {{ ebook.category_id_join }}
                    </a>
                    <br>

                    <a class="btn btn-success btn-xs btn-flat" href="{{ download_url }}" title="Download {{ ebook.file_title }}">Download</a>
                    <a class="btn btn-primary btn-xs btn-flat" href="{{ ebook_url }}" title="View {{ ebook.file_title }}">Preview</a>

                    <div class="clr"></div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        No Related Magazines
    {% endif %}
</div>
